flask
flask-sqlalchemy
flask-migrate
flask-session
flask-cors
sqlalchemy-serializer
pyjwt
flask-bcrypt
flask-limiter
pytz
python-dotenv
APScheduler
SQLAlchemy==2.0.18
itsdangerous==2.1.2
psycopg2-binary
email-validator
gunicorn
